
@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Regular.ttf");
  font-display: swap;
}

*,*::before,*::after {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Satoshi, sans-serif;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
}

.wrapper {
  max-width: 1000px;
}

.number {
  color: rgba(30, 30, 36, 5);
  padding: 5px;
  pointer-events: none;
  user-select: none;
  text-shadow:
   -1px -1px 0 rgba(107, 114, 128, 1),  
    1px -1px 0 rgba(107, 114, 128, 1),
    -1px 1px 0 rgba(107, 114, 128, 1),
     1px 1px 0 rgba(107, 114, 128, 1);
}