@font-face {
  font-family: "Matter";
  src: url("../public/fonts/Matter-Regular.woff");
  font-display: swap;
}

*,*::before,*::after {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Matter, sans-serif;
  background-color: rgba(30, 30, 36, 5);
  color: #fff;
}

.wrapper {
  max-width: 1200px;
}

.number {
  color: rgba(30, 30, 36, 5);
  z-index: -10;
  pointer-events: none;
  user-select: none;
  text-shadow:
   -1px -1px 0 rgba(107, 114, 128, 1),  
    1px -1px 0 rgba(107, 114, 128, 1),
    -1px 1px 0 rgba(107, 114, 128, 1),
     1px 1px 0 rgba(107, 114, 128, 1);
}
